* {
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
}
body {
  background-color: rgb(176, 243, 176);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(81, 187, 249);
  padding: 20px;
}
@media (max-width:768px) {
  #Left-header {
    font-size: 18px;
  }
  #Right-header {
    font-size: 22px;
  }
  #mode-toggle{
  padding: 5px 10px;
  font-size: 12px;
  }
}
.add-location {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 260px;
  box-shadow: 1px 1px 1px 1px;
  background-color: rgb(81, 187, 249);
}
input {
  padding: 7px;
}
.fa-search {
  padding: 5px;
}
.fa-search:hover {
  opacity: 50%;
}
.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: auto;
  margin-top: 10px;
  width: 250px;
  height: 250px;
  line-height: 25px;
  border-radius: 25px;
  box-shadow: 2px 2px 3px 3px;
  background-color: rgb(81, 187, 249);
}
button {
  border-radius: 50px;
}
.toggle-text {
    font-family:'Courier New', Courier, monospace;
}
#mode-toggle {
  position: relative;
  background-color: rgb(176, 243, 176);
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

#mode-toggle:hover {
  background-color: #ddd;
}

#mode-toggle .toggle-text {
  position: relative;
  z-index: 2;
}

#mode-toggle .toggle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

#mode-toggle.night-mode {
  background-color: #333; 
  color: #f0f0f0; 
}

#mode-toggle.night-mode .toggle-icon {
  transform: translateX(0);
}

.night-mode {
  background-color: #333;
  color: #f0f0f0; 
}
#temperature-controller {
  padding: 5px;
  margin: 5px;
  width: 80px;
  font-family: monospace;
}
#temperature-controller:active {
  background-color: rgb(176, 243, 176);
}
.footer {
  background-color: #f8f8f8;
  padding: 5px;
  text-align: center;
  color:black;
}

.footer--name {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.footer--name:hover {
  text-decoration: underline;
}

.footer--copyright {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  color: #777;
}