* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(176, 243, 176);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(81, 187, 249);
  padding: 20px;
}
#Left-header {
    font-family: cursive;
}
#Right-header {
    font-family: monospace;
}
.add-location {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 260px;
  box-shadow: 1px 1px 1px 1px;
  background-color: rgb(81, 187, 249);
  font-family: cursive;
}
input {
  padding: 7px;
}
.fa-search {
  padding: 5px;
}
.fa-search:hover {
  opacity: 50%;
}
.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: auto;
  margin-top: 10px;
  width: 250px;
  height: 250px;
  line-height: 25px;
  border-radius: 25px;
  box-shadow: 2px 2px 3px 3px;
  font-family: cursive;
  background-color: rgb(81, 187, 249);
}
button {
  border-radius: 50px;
}
.toggle-text {
    font-family:'Courier New', Courier, monospace;
}
#mode-toggle {
  position: relative;
  background-color: rgb(176, 243, 176); /* default day mode background */
  color: #333; /* default day mode text color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

#mode-toggle:hover {
  background-color: #ddd;
}

#mode-toggle .toggle-text {
  position: relative;
  z-index: 2;
}

#mode-toggle .toggle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333; /* night mode background */
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

#mode-toggle.night-mode {
  background-color: #333; /* night mode background */
  color: #f0f0f0; /* night mode text color */
}

#mode-toggle.night-mode .toggle-icon {
  transform: translateX(0);
}

.night-mode {
  background-color: #333; /* night mode background */
  color: #f0f0f0; /* night mode text color */
}
#temperature-controller {
  padding: 5px;
  margin: 5px;
  width: 80px;
  font-family: monospace;
}
#temperature-controller:active {
  background-color: rgb(176, 243, 176);
}
.footer {
    background-color:rgb(81, 187, 249);
    position: absolute;
    bottom: 0;
    right: 0;
    left:0;
    text-align: center;
    font-family: fantasy;
}